<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1"   >
        <classes>
            <class name="tests.base.profile.ChangeDataInProfile"></class>
            <class name="tests.base.signUp.SignUp"></class>
            <class name="tests.base.login.Lg"></class>
            <class name="tests.base.login.Footer"></class>
            <class name="tests.base.login.Header"></class>
        </classes>
    </test>
</suite>
