<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="1"   >
        <packages>
            <package name="pages.NewHome"></package>
            <package name="tests.base"></package>
            <package name="tests.base.login"></package>
            <package name="tests.base.profile"></package>
            <package name="tests.base.s ignUp"></package>
            <package name="tests.base.Buy"></package>
        </packages>
    </test>
</suite>
